absl-py
astor
certifi
chardet
click
cycler
decorator
dlib
easydict
gast
google-pasta
graphviz
grpcio
gunicorn
h5py
idna
imageio
imutils
itsdangerous
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mock
mtcnn
mxnet
networkx
numpy
opencv-python
opt-einsum
pandas
Pillow
protobuf
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
requests
scikit-image
scikit-learn
scipy
six
tensorboard
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
